.color-dark-blue {
    color: '#007bff'
}

.background-dark-blue {
    background: '#007bff'
}

.color-blue {
    color: '#00b7ff'
}

.background-blue {
    background: '#00b7ff'
}

.color-dark-green {
    color: '#28A745'
}

.background-dark-green {
    background: '#28A745'
}